ul#changes {
	color:	black;
    width: 100	%;
    margin: 0; padding: 0.8em;
    border: 1px solid black;
    background-color: #CCCCFF;
  }
  * html ul#changes {
    width: 11.6em;
    w\idth: 10em;
    padding-left: 0;
    padd\ing-left: 0.8em;
  }
  ul#changes li {
	style: bold;
    list-style: none;
    margin: 0.4em; padding: 0;
  }

  ul#changes li ul {
    margin: 0 0 0 1em; padding: 0;
  }
  ul#changes li ul li {
    margin: 0.1em 0;
  }