h2 {
    color:blue	;
}
body{
	color:white;
    background-color: black;
}
#noone{
	color:				red;
	text-align:			center;
	
}
#root{
	width: 				100%;
	height: 			100%;
}
#head{
	height: 			100px;
}
#footer{
	color:				white;
	background-color:	#333333;
	width:				100%;
	height:				25px;
	text-align:			center;
	vertical-align:		middle;
}
#content{
	width:				100%;
}
#pngs{
	vertical-align:		top;
	float:				left;
	height:				67px;

	width:				75%;
	background-color:	white;
}
#upperright{
	vertical-align:		middle;
	height:				67px;
	float:				right;
	width:				25%;
	text-align: 		center;
}
#streams{
	float:				left;
	height: 			100%;
	width:				75%;

}
#stream_left{
	float:				left;
	width:				50%;
}
#stream_right{
	float:				right;
	width:				50%;
}
#chat{
	height: 			100%;
	float:				right;
	width:				25%;
}