#menu{
	height:		30px;
	width:		100%;
}

ul#menu
{
padding: 0px;
position: relative;
margin: 0;
}
ul#menu li
{
display: inline;
background-color: #ffffff;
padding: 0px 10px;
text-decoration: none;
line-height: 2.8em;
color: #33CC33;
border-radius: 5px 5px 0 0;
}
ul#menu li a 
{
	color: #034af3;
}
ul#menu li a:hover
{
background-color: #e8eef4;
}
