.tabberlive .tabbertabhide { display:none;}
.tabber {}
.tabberlive { margin-top:1em;}
ul.tabbernav{position:fixed;z-index:3;margin:0; padding: 3px 0; border-bottom: 1px solid #330000; font: bold 12px Verdana, sans-serif;}
ul.tabbernav li{ list-style: none; margin: 0; display: inline;}
ul.tabbernav li a{ padding: 3px 0.5em; margin-left: 3px; border: 1px solid #330000; border-bottom: none; background: #C6B8B8; text-decoration: none;}
ul.tabbernav li a:link { color: #221717; }
ul.tabbernav li a:visited { color: #221717; }
ul.tabbernav li a:hover{color: #000;background: #F1EDED;border-color: #330000;}
ul.tabbernav li.tabberactive a{ background-color: #fff;border-bottom: 1px solid #fff;}
ul.tabbernav li.tabberactive a:hover{color: #000; background: white; border-bottom: 1px solid white;}
.tabberlive .tabbertab { padding:0px; border:0px solid #aaa; border-top:0; height:calc(100vh - 90px);}
.tabberlive .tabbertab h2 {display:none;}
.tabberlive .tabbertab h3 {display:none;}
