.pace .pace-progress {background: #800;position: fixed;z-index: 2000;top: 0;left: 0;height: 9px;-webkit-transition: width 1s;-moz-transition: width 1s;-o-transition: width 1s;transition: width 1s;}
.pace-inactive {display: none;}