/* Visit http://www.menucool.com/horizontal/javascript-menu for source code and other menu CSS templates */
#sse1{background-color: #222;height: 38px;padding: 15px;border-radius: 10px;}
#sses1 ul { position: relative;list-style-type: none;float:left;padding:0;margin:0;border-bottom:solid 1px #6C0000;}
#sses1 li{float:left;list-style-type: none;padding:0;margin:0;background-image:none;}
/*CSS for background bubble*/
#sses1 li.highlight{background-color:#800;top:36px;height:2px;border-bottom:solid 1px #C00;z-index: 1;position: absolute;overflow:hidden;}
#sses1 li a{height:30px;padding-top: 8px;margin: 0 20px;color: #fff;font: normal 12px arial;text-align: center;text-decoration: none;float: left;display: block;position: relative;z-index: 2;}